.v-container .image-container{
    border: 8px solid rgb(232 232 232 / 93%);
}

.v-container>div{
flex:1;
}

.v-right{
    gap: 0.5rem;
}

.accordion{
    margin-top: 2rem;
    border: none;
}

.accordionItem{
    border: 0.8px solid rgb(128,128,128,0.143);
    background: white;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordionButton{
     background: white;
     cursor: pointer;
     justify-content: space-between;
     padding: 1rem;
     width: 100%;
}

.icon{
    background: #eeeeff;
    border-radius:  5px;
    padding: 10px;
}

.icon svg{
    fill: var(--blue);
}

.acccordionButton .primaryText{
    font-size: 1.1rem;
}

.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;;
}

@media(max-width:1024px){
    .v-container{
        flex-direction: column;
    }

@media(max-width:768px){
    .acccordionButton .primaryText{
        font-size:0.8rem;
    }
}
}

